a {
    color: #346D26;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #346D26;
    text-decoration: underline;
}

banner {
    overflow:hidden;
    background: center;
    height:100px;
}