<hr/>
<p align="center">
  &#169 Jack Morrison {{ site.time | date: "%Y" }}
</p>
<p align="center">
  <img src="/images/feedicons-standard/feed-icon-14x14.png"/>
  <a href="/feed.xml">Posts Feed</a>
</p>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript">
  $(".pageKey").toggleClass("active", false);
  $("#" + window.location.pathname.substring(1, Math.max(1, window.location.pathname.length-1)) + "Nav").toggleClass("active", true);
</script>

