<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta property="og:title" content="{{page.title}}"/>
<meta property="og:url" content="{{site.url}}{{page.url}}"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="{{site.url}}/images/fernsehturm.jpg"/>
<meta charset="utf-8">
<link href="//netdna.bootstrapcdn.com/bootswatch/3.2.0/slate/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/syntax.css" rel="stylesheet"/>
<title>{{page.title}}</title>
