---
---
<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '1439902942978388',
      xfbml      : true,
      version    : 'v2.3'
      });
      };

      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container">
      <div class="row">
	<div class="col col-lg-10 col-lg-offset-1">
    	  <img class="img-responsive" src="/images/header.jpg" />
	</div>
      </div>

      <div class="row">
	<div class="col col-sm-offset-1">
	  <div class="col col-sm-3">
	    {% include sidebar.html %}
	  </div>
	  <div class="col col-sm-7 col-lg-offset-0 col-sm-offset-1">
	    <div class="page-header">
	      <h1>{{ page.title }}</h1>
	      <small>{{ page.date | date: "%B %d %Y" }}</small>
	    </div>
	    {{content}}
	    <div class="fb-like"
	       data-share="true"
	       data-width="450"
	       data-show-faces="true">
	    </div>
	    <div class="fb-comments"
		 data-href="{{site.url}}{{page.url}}"
		 data-numposts="5"
		 data-colorscheme="light">
	    </div>
	  </div>
	</div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
