---
---
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/syntax.css" rel="stylesheet">
  </head>
  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <div class="row-fluid">
      <div class="span8 offset2">
    	<img src="/images/header.jpg" />
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span8 offset2">
	  <div class="span3">
	    {% include sidebar.html %}
	  </div>
	  <div class="span8">
	    <h1>{{ page.title }}</h1>
	    <h3>{{ page.date | date: "%B %d %Y" }}</h3>
	    {{content}}
	  </div>
	</div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
